@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@font-face {
  font-family: "moderno";
  src: url("/assets/fonts/modernofbcomp-bold.otf");
}

html, body{
  scroll-behavior: smooth !important;
}

.ff-noto-serif {
  font-family: 'Noto Serif', serif;
}

.ff-moderno{
  font-family: "moderno";
}

.body-img{
 background-image: url("/assets/images/webp/bg.webp");
}

.team-bg{
  background-image: url("/assets/images/png/team-bg.png");
}